.info-panel {
  --bg: var(--tertiary-container-color);
  --text: var(--tertiary-container-color-on);

  margin: 0 0 8px 0;
  padding: 0;
  overflow: hidden;
  height: 4vh;
  width: 100%;

  background-color: var(--bg);
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;


  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}