.info-panel {
    --bg: var(--card-2);
    --text: var(--on-surface-variant);

    margin: 0;
    border-bottom: 1px solid var(--outline-soft);

    padding: 0 10px;
    overflow: hidden;
    height: var(--s6);
    width: 100%;
    background-color: var(--bg);
    align-items: center;
    align-content: center;
    justify-content: start;
    justify-items: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
