.select-base {
    font-size: 1rem;
    padding: 0.4rem 1rem;
    border-radius: 8px;
    font-weight: 400; /* Lighter than button's 500 */
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    display: inline-block;
    text-align: center;
    user-select: none;

    border: 1px solid var(--md-outline-color);
    color: var(--bg-color);

    appearance: none; /* Removes default browser styles */
}

.select-base:hover {
    filter: brightness(1.5);
}

.select-base:active {
    transform: scale(0.9);
}

.select-disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}

/* Sizes */
.select-small {
    font-size: 0.9rem;
    padding: 0.4rem 1rem;
}

.select-large {
    font-size: 1.1rem;
    padding: 1rem 1.6rem;
}

/* Block */
.select-block {
    display: block;
    width: 100%;
}
